<div class="dashboard-container">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <div>
        <h3>Dashboard</h3>
        <div *ngIf="!globals.pantry" class="error-message">Please select an office and pantry first.</div>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="loadDashboard()">
          <mat-icon>refresh</mat-icon> Refresh Data
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="mat-elevation-z8 history-table">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Order </th>
        <td mat-cell *matCellDef="let element"> {{element.coffee.name}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef> Order Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.orderDate | date: 'MMM. dd, yyyy hh:mm a' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
  <mat-card class="drink-distribution-container mat-elevation-z8">
    <mat-card-content>
      <h3 matLine> Drinks Order Distribution </h3>
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [colors]="pieChartColors" [chartType]="pieChartType">
      </canvas>
    </mat-card-content>
  </mat-card>
</div>