<div class="order-container">
  <div class="card-container">
    <mat-card>
      <mat-card-header>
        <span>
          <mat-icon>free_breakfast</mat-icon>
        </span>
        <mat-card-title> Coffee Name </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3 class="mat-h3"> Ingredients: </h3>
        <ul class="in-list">
          <li> Paprika (3 unit) </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button> Order </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>