.order-container {
  margin: 25px;
}

.order-details-container mat-form-field {
  display: flex;
  flex-direction: column;
}

.card-container {
  margin: 25px;
  display: inline-flex;
}

.card-container mat-card {
  min-width: 200px;
}

.card-title {
  min-height: 75px;
}

.in-list {
  min-height: 50px;
}

.in-list li {
  margin-left: 40px;
}