.order-container {
  margin: 25px;
}

.card-container {
  margin: 10px;
  width: 200px;
  display: inline-flex;
}

.card-title {
  min-height: 75px;
}

.in-list {
  min-height: 50px;
}

.in-list li {
  margin-left: 40px;
}