<div class="order-container">
  <div *ngFor="let coffee of coffeeStatus" class="card-container">
    <mat-card>
      <mat-card-header class="card-title">
        <span>
          <mat-icon>free_breakfast</mat-icon>
        </span>
        <mat-card-title> {{ coffee.name }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3 class="mat-h3"> Ingredients: </h3>
        <ul class="in-list">
          <li *ngFor="let ingredient of coffee.coffeeIngredient">
            {{ ingredient.ingredient.name }} ({{ ingredient.valueCost }})
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <div *ngIf="!globals.pantry" class="error-message">Please select an office and pantry first.</div>
        <div>
          <button mat-raised-button [disabled]="!coffee.isAvailable"
            color="primary" (click)="orderCoffee(coffee)"> 
            {{ (coffee.isAvailable ? "Order" : "Not Available") }}
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>