<div class="inventory-container">
  <div class="card-container">
    <mat-card>
      <mat-card-content>
        <div>
          <h3>Ingredient Stock</h3>
          <button mat-raised-button color="primary" (click)="refreshStocks()">
            <mat-icon>refresh</mat-icon> Refresh Data
          </button>
          <button [disabled]="!stocks" mat-raised-button color="accent" (click)="openAddStockDialog()">
            <mat-icon>add</mat-icon> Add Stock
          </button>
        </div>
        <div style="display: block; margin-top: 25px;">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [colors]="barChartColors" [options]="barChartOptions"
            [chartType]="barChartType" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>